@import 'bulma';

.book_width{
	max-width:35%;
	margin: 0px auto;
}
.head_panel{
	height: 200px;
}

.fa{
	font-size: 200%;
}
.pro_img{
	height:120px;
	width:120px;
	margin-left: 35%;
	border-radius: 100%;
}

.img_div{

}